* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#topo_do_site{
    display: flex;
    list-style: none;
}

#div_topo_do_site{
    background-color: #F5F5F5;
    width: 100%;
    height: 47px;
    font-family: "Cairo", sans-serif;
    
}

#email{
    margin-right: 50px;
    margin-left: 18%;
    margin-top: 8px;
}

#email svg{
    width: 16px;
    height: 16px;
}

.espacinho_emcima{    
    margin-top: 8px;
}

#redes_sociais{
    margin-left: 400px;
    margin-top: 8px;
}

#redes_sociais svg{
    fill: black;
    height: 13px;
    margin-left: 7px;
    margin-right: 7px;
}

#language{
    margin-top: 8px;
    margin-left: 50px;
}

#login{
    margin-top: 8px;

}

#login svg{
    height: 13px;
    margin-left: 50px;
}

#main{
    display: grid;
    grid-template-columns: 1.3fr 1.3fr 1fr 1fr 1.3fr 1.3fr;
    grid-template-rows: 80px 80px 431px 263px;
    margin-top: 20px;
}

#main>div{
    border: solid 1px;
}

#logo{ grid-column: 2;}

#nav{ 
    grid-column: 3/6; 
    display: flex;   
}

#nav ul{    
    display: flex;    
}

#nav li{
    margin: 20px ;    
}

.fonte_nav{
    font-family: "Cairo", sans-serif;
    font-size: 14px;
    
    list-style: none;
}

#nav a:hover{
    color: #7FAD39;
    
}

#nav a{
    text-decoration: none;
color: #000000;
}

#nav svg{
    width: 16px;
    height: 16px;
}

#carrinho{
    margin-left: 230px;
    list-style: none;
}

#menu{
    grid-column: 2;
    grid-row: 2/4;
}

#menu svg{
    width: 16px;
    height: 16px;
    fill:#F5F5F5
}

#menu_verde{
    background-color: #7FAD39;
    width: ;
}

#busca{
    grid-column: 3/6;
    grid-row: 2;
}

#banner{
    grid-column: 3/6;
    grid-row: 3;
}

#prod01{
    grid-row: 4;
    grid-column: 2;
}

#prod02{
    grid-row: 4;
    grid-column: 3;
}

#prod03{
    grid-row: 4;
    grid-column: 4;
}

#prod04{
    grid-row: 4;
    grid-column: 5;
}